<div class="accommodate_alert"></div>

<h2 class="profile_title">Select sign up type:</h2>

<div align="center">
  <div class="container">
    <div class="row">
      <%= link_to "Retired Professional", user_signup_path, class: "btn btn-lg btn-primary addmargin" , style: :"width: 200px" %>
      <%= link_to "Company", company_signup_path, class: "btn btn-lg btn-success addmargin" , style: :"width: 200px" %>
    </div>
  </div>
</div>