<div class="accommodate_alert"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-centered tancolor" style="padding: 0">
      <div style="background-color: black">
        <p class="loginfont" style="padding-top: 10px; padding-bottom: 10px; padding-left: 30px">Forgot Password</p>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <div class="col-md-6 col-centered">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="center-block" style="display: block; float: none; text-align: center; margin-left: auto; margin-right: auto">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>

        <% end %>
      </div>
      <hr style="background-color: #000000; border: 0; height: 7px; width: 85%;">
      <br>
    </div>
  </div>
</div>
