<p>
  Welcome to Excellara <%= @receiver.name %>,
</p>
<br>
<p>
  In order to complete your account activation please click the following link:
  <%= link_to "Activate Account", edit_account_activation_url(@receiver.activation_token, email: @receiver.email) %>
</p>
<br>
<p>
  Thank you,
  Excellara team
</p>
