<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>
<% if @user.resume? %>
    <iframe src='https://docs.google.com/viewer?url=<%=  @user.resume.url %>&embedded=true' width='100%' height='1000px'></iframe>
<% else %>
    <% if current_user?(@user) %>
        <p align="center">No resume uploaded yet. Uploading a resume is optional.
          <br>If you choose to upload a resume, it will only be used once you are
          <br>matched to a job.</p>
        <div align="center">
          <div style="width: 30%;">
            <%= button_to "Upload Resume", edit_user_path(current_user) , class: "btn btn-primary", method: :get%>
          </div>
        </div>
    <% else %>
        <p align="center">No resume to show.</p>
    <% end %>
<% end %>

