<% unless flash.empty? %>
    <div class="accommodate_alert"></div>
<% end %>

<% if current_company %>

    <%= render partial: 'users/showcompany' %>

<% elsif current_user %>

    <%= render partial: 'users/showuser' %>

<% else %>

<% end %>
